.container {
  margin-top: 85px;

  .img {
    width: 543px;
  }

  .progressBar {
    width: 543px;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 47px;
    margin-top: 4px;

    &::-webkit-progress-value {
      background-color: rgba(255, 70, 70, 1);
    }
  }

  .complexity {
    margin-top: 7px;
  }

  .flex {
    position: relative;
    display: flex;
    justify-content: space-between;

    .text {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    .value {
      font-size: 20;
      font-weight: 400;
      margin-top: 6px;
    }
  }

  .title {
    color: rgba(255, 70, 70, 1);
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 16px;
  }

}


@media screen and (max-width: 543px) {
  .container {
    margin-top: 41px;

    .progressBar {
      width: 94%;
    }

    .img {
      width: 94%;
    }

    .flex {
      width: 94%;
    }

  }
}