.container {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;

}
.h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  width: 543px;
}

@media screen and (max-width: 543px) {
  .h1 {
    width: 94%;
  }
}